src/main/app/mule-rest-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	
	<spring:beans>
		<spring:bean class="com.hiper2d.config.SpringConfig"></spring:bean>
	</spring:beans>

    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="get-flights-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="Get Flights">
            <http:error-response-builder reasonPhrase="#[payload]"/>
        </http:listener>
        <set-variable variableName="date" value="#[message.inboundProperties.'http.query.params'.date]" doc:name="Set Date"/>
        <choice doc:name="Validate Date">
            <when expression="#[flowVars.date == null]">
                <invoke name="GetAllFlights" object-ref="flightService" method="getAllFlights"/>
            </when>
            <when expression="#[app.registry.stringDateParser.validateString(flowVars.date)]">
                <set-variable variableName="localDate" value="#[app.registry.stringDateParser.parseStringToLocalDate(flowVars.date)]" doc:name="Convert String Date to LocalDate"/>
                <invoke name="GetFlights" object-ref="flightService" method="getFlights" methodArguments="#[flowVars.localDate]"/>
            </when>
            <otherwise>
                <set-payload value="{'error': 'Date parameter #[flowVars.date] is invalid.'}" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="get-destinations-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/destinations" allowedMethods="GET" doc:name="Get Destinations"/>
        <set-variable variableName="airlineId" value="#[message.inboundProperties.'http.query.params'.airlineId]" doc:name="Set Airline Id"/>
        <set-variable variableName="airline" value="#[message.inboundProperties.'http.query.params'.airline]" doc:name="Set Airline Name"/>
        <set-variable variableName="page" value="#[message.inboundProperties.'http.query.params'.page]" doc:name="Set Page"/>
        <choice doc:name="Validate Airline Id">
        	<when expression="#[flowVars.airlineId != null]">
                <invoke name="getDestinationsByAirlineId" object-ref="routeService" method="getDestinationsByAirlineId" methodArguments="#[flowVars.airlineId],#[flowVars.page]"/>
            </when>
            <when expression="#[flowVars.airline != null]">
                <invoke name="GetDestinationsByAirlineName" object-ref="routeService" method="getDestinationsByAirlineName" methodArguments="#[flowVars.airline],#[flowVars.page]"/>
            </when>
            <otherwise>
                <set-payload value="{'error': 'Please provide airline name or id.'}" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="book-ticket-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="PUT" doc:name="Boot Seat"/>
        <set-variable variableName="flightCode" value="#[message.inboundProperties.'http.query.params'.flightCode]" doc:name="Set Flight Code"/>
        <invoke name="BookSeat" object-ref="flightService" method="bookSeat" methodArguments="#[flowVars.flightCode]"/>
        <choice doc:name="Choice">
        	<when expression="#[payload]">
                <set-payload value="{'status': 'SUCCESS', 'message': 'Reservation is completed.'}" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="{'status': 'FAIL', 'message': 'There are no available seats, sorry.'}" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
